# **CO 2**

## 2.1 Central Tendencies

## 2.1.1 Mean

Mean:  Mean is the average of the given set of values. To calculate mean, we need to add the values given in a datasheet and divide the sum by the total number of values.

                                Mean = Sum of the values / Number of values

**Example 1:**

Calculate the average score of a class on a math test, given the scores in the dataset 1mean_example.csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
test = pd.read_csv("/content/drive/My Drive/DAP/DAP_Activity_Sets/CO2/1mean/1mean_example.csv")
test

  numbers _of_students  scores
0            Student 1      80
1            Student 2      75
2            Student 3      90
3            Student 4      85
4            Student 5      70
5            Student 6      92
6            Student 7      88
7            Student 8      78
8            Student 9      83
9           Student 10      87

In [ ]:
test.mean()

<ipython-input-14-a428e52fa3ce>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  test.mean()

scores    82.8
dtype: float64

In [ ]:
import pandas as pd
test = pd.read_csv("1mean_example.csv")
test.mean()

---

----
----

*Instructions*



*   Do not delete cells containing **#ans**
*   Do not remove **#ans** from the cell before writing the code
*   Write all lines of code in the same cell
*   csv filename should be same as per the instructions
*   Use function print() to display the output or solution of the problem given
*   Save this submission file with your name along with initials.

-----
-----

**Exercise 1:**

Calculate the average score of a class on a math test, given the scores in the dataset 1mean_exercise.csv

In [ ]:
#ans1
# write your code below this line

---

**Example 2:**

In a company called XYZ, the HR manager would like to know the average number of years of experience of the employees. The data is in 1experience.csv.

In [ ]:
exp = pd.read_csv("/content/drive/My Drive/DAP/DAP_Activity_Sets/Datasets/1experience.csv")
exp

In [ ]:
exp

---

----
----

*Instructions*



*   Do not delete cells containing **#ans**
*   Do not remove **#ans** from the cell before writing the code
*   Write all lines of code in the same cell
*   csv filename should be same as per the instructions
*   Use function print() to display the output or solution of the problem given
*   Save this submission file with your name along with initials.

-----
-----

**Exercise 2**

In a company called ABC, the HR manager would like to know the average salary of the employees. The data is in 2salary.csv

In [ ]:
#ans2
# write the lines of code below



---



---

# Level 2

## **Problem 2.1.1.1 Analyse salary data**

The salary dataset contains data of the salary paid according to the number of years of experience.

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DAP/DAP_Activity_Sets/Datasets/3Salary_Data.csv")
df.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
df.mean()

YearsExperience        5.313333
Salary             76003.000000
dtype: float64

**Example 1:**

What is the average salary?

In [ ]:
df['Salary'].mean()

76003.0

----
----

*Instructions*



*   Do not delete cells containing **#ans**
*   Do not remove **#ans** from the cell before writing the code
*   Write all lines of code in the same cell
*   csv filename should be same as per the instructions
*   Use function print() to display the output or solution of the problem given
*   Save this submission file with your name along with initials.

-----
-----

**Exercise 1:**

What is the average number of years of experience?

In [ ]:
#ans3
#write the lines of code below

---

## **Problem 2.1.1.2: Analyse laptop prices**

The dataset contains data about features and specifications of different laptops.

In [ ]:
df2 = pd.read_csv("/content/drive/MyDrive/DAP/DAP_Activity_Sets/Datasets/4laptops.csv")
df2.head(2)

,Manufacturer,Model_Name,Category,Screen_size_inches,Screen,CPU,RAM,Storage,GPU,Operating_System,Operating_System_Version,Weight_kg,Price
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,11912523.48
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,7993374.48

**Example 2:**

What is the average price of laptops in the dataset?

In [ ]:
df2['Price'].mean()

10018994.56028659

----
----

*Instructions*



*   Do not delete cells containing **#ans**
*   Do not remove **#ans** from the cell before writing the code
*   Write all lines of code in the same cell
*   csv filename should be same as per the instructions
*   Use function print() to display the output or solution of the problem given
*   Save this submission file with your name along with initials.

-----
-----

**Exercise 2:**

What is the average weight of the laptops in the dataset?

In [ ]:
#ans4
#write the lines of code below



---



---

## **Problem 2.1.1.3: Analyse games data**

The dataset contains data about different games and their genre, rating, number of times played, number of times the game is being played now, reviews, etc.

In [ ]:
df3 = pd.read_csv("/content/drive/MyDrive/DAP/DAP_Activity_Sets/Datasets/7games.csv")
df3.head(5)

,Unnamed: 0,Title,Release_Date,Team,Rating,Times_Listed,Number_of_Reviews,Genres,Summary,Reviews,Plays,Playing,Baclogs,Wishlist
0,0,Elden Ring,25-Feb-22,"['Bandai Namco Entertainment', 'FromSoftware']",4.5,39000,39000,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17000,38000,46000,48000
1,1,Hades,10-Dec-19,['Supergiant Games'],4.3,29000,29000,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hac000 and slash dungeon crawler ...,['convinced this is a rogueli000e for people w...,21000,32000,63000,36000
2,2,The Legend of Zelda: Breath of the Wild,3-Mar-17,"['Nintendo', 'Nintendo EPD Production Group No...",4.4,43000,43000,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30000,25000,5000,26000
3,3,Undertale,15-Sep-15,"['tobyfox', '8-4']",4.2,35000,35000,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrac000 is tied for #1 with nier automa...,28000,679,49000,18000
4,4,Hollow 000night,24-Feb-17,['Team Cherry'],4.4,3000,3000,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21000,24000,83000,23000

**Example 3:**

What is the average number of reviews?

In [ ]:
df3['Number_of_Reviews'].mean()

4352.79298941799

----
----

*Instructions*



*   Do not delete cells containing **#ans**
*   Do not remove **#ans** from the cell before writing the code
*   Write all lines of code in the same cell
*   csv filename should be same as per the instructions
*   Use function print() to display the output or solution of the problem given
*   Save this submission file with your name along with initials.

-----
-----

**Exercise 3:**

What is the average rating of the games?

In [ ]:
#ans4
#write the lines of code below

**Example 4:**

What is the average number of times the games are listed?

In [ ]:
df3['Times_Listed'].mean()

4352.79298941799

----
----

*Instructions*



*   Do not delete cells containing **#ans**
*   Do not remove **#ans** from the cell before writing the code
*   Write all lines of code in the same cell
*   csv filename should be same as per the instructions
*   Use function print() to display the output or solution of the problem given
*   Save this submission file with your name along with initials.

-----
-----

**Exercise 4:**

What is the average number of plays of the different games?

In [ ]:
#ans5
#write the lines of code below

---

## **Problem 2.1.1.4: Analyse salary data of data scientists**

The dataset contains data about the type of employment, experience level, salary and the currency, salary converted into US dollars, employees' residence, remoteness and location of the company.

In [ ]:
df4 = pd.read_csv("/content/drive/MyDrive/DAP/DAP_Activity_Sets/Datasets/5ds_salaries.csv")
df4.head(5)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

**Example 5:**

What is the average salary in US dollars?

In [ ]:
df4['salary_in_usd'].mean()

137570.38988015978

----
----

*Instructions*



*   Do not delete cells containing **#ans**
*   Do not remove **#ans** from the cell before writing the code
*   Write all lines of code in the same cell
*   csv filename should be same as per the instructions
*   Use function print() to display the output or solution of the problem given
*   Save this submission file with your name along with initials.

-----
-----

**Exercise 5:**

What is the average remote ratio?

In [ ]:
#ans6
#write the lines of code below

46.271637816245004

---
---

# Level 3

**Example 1:**

How do salaries in dollars vary based on experience level?

In [ ]:
df4['experience_level'].value_counts() # to view the number of different experience levels

SE    2516
MI     805
EN     320
EX     114
Name: experience_level, dtype: int64

In [ ]:
df4.groupby(['experience_level']).salary_in_usd.mean()

experience_level
EN     78546.284375
EX    194930.929825
MI    104525.939130
SE    153051.071542
Name: salary_in_usd, dtype: float64

----
----

*Instructions*



*   Do not delete cells containing **#ans**
*   Do not remove **#ans** from the cell before writing the code
*   Write all lines of code in the same cell
*   csv filename should be same as per the instructions
*   Use function print() to display the output or solution of the problem given
*   Save this submission file with your name along with initials.

-----
-----

**Exercise 1:**

What is the average salary in dollars based on remote ratio?

In [ ]:
#ans7
#write the lines of code below

0      1923
100    1643
50      189
Name: remote_ratio, dtype: int64



---



---